.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.navbar {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.heading {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  /* background-color: #15151551; */
  padding: 0.2rem 0.4rem;
}
.btn {
  margin-top: 2rem;
  width: 12rem;
  height: auto;
  background-color: rgb(162, 58, 13);
  padding: 0.5rem 0.7rem;

  border-radius: 0.4rem;

  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.653);
  text-transform: uppercase;
  /* letter-spacing: 0.7rem; */

  text-decoration: none; /* remove underline from anchors */
  transition: all ease-in 0.1s;
}

.btn:hover {
  transform: scale(0.95);
  background-color: rgb(201, 57, 57);
  color: rgb(255, 255, 255);
}
