.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form {
  width: 80rem;
  height: 60vh;
  border-radius: 1rem;

  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 199, 69);
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(162, 117, 2);
}
.container > .heading {
  font-size: 6rem;
  font-weight: 700;
  color: rgb(18, 14, 14);
  background-color: #f5f5f5;
  padding: 0 3rem;
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.2rem 0.2rem 1rem #555;
  /* transform: skew(-10deg); */
}
.btn {
  margin-top: 2rem;
  width: 25rem;
  background-color: rgb(123, 59, 4);
  padding: 0.4rem 0.6rem;

  border-radius: 0.4rem;

  font-size: 4rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.7rem;

  text-decoration: none; /* remove underline from anchors */
}
.form > input {
  margin-bottom: 3rem;
  height: 7rem;
  width: 80%;
  border-radius: 1rem;
  color: aliceblue;
  background-color: rgb(82, 80, 80);
  padding: 0.4rem 2rem;
  outline: none;
  font-size: 3rem;
  /* position: relative; */
}
.form > input:nth-child(1) {
  margin-top: 5rem;
}
.form > input::placeholder {
  color: white;
  /* padding: auto 2rem; */
  position: relative;
  /* left: 3rem; */
  font-size: 3rem;
}

.form h1 {
  color: 'red';
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  btn {
    font-size: 3.5rem;
  }
}
@media (max-width: 950px) {
  .form {
    width: 70rem;
  }
  html {
    font-size: 50%;
  }
}
@media (max-width: 750px) {
  .heading {
    font-size: 3rem;
  }
  .form {
    width: 60rem;
  }
  html {
    font-size: 50%;
  }
  btn {
    font-size: 3rem;
  }
  .form > input {
    font-size: 3.5rem;
  }
}
@media (max-width: 570px) {
  .form {
    width: 50rem;
    height: 50vh;
  }
  html {
    font-size: 45%;
  }

  .form > input {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 40%;
  }

  .form > input::placeholder {
    font-size: 3.2rem;
  }
}
